@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400..700&family=Ephesis&family=Great+Vibes&family=Hurricane&display=swap');

body { 
    background-color: rgb(227, 227, 227);
}
.container { 
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 200px auto;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title { 
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.title img { 
    width: 40px;
    height: 40px;
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.title h1 { 
    animation: font 10s infinite;
}
@keyframes font {
  0% {
    font-family: "Dancing Script", cursive;
  }
  25% {
    font-family: "Great Vibes", cursive;
  }
  50% {
    font-family: "Ephesis", cursive;
  }
  75% {
    font-family: "Hurricane", cursive;
  }
  100% {
    font-family: "Cookie", cursive;
  }
}
.list-title  {
    text-align: center;
}
.list input { 
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-left: 10px;
    font-family: monospace;
}
.list input:focus { 
    outline: none;
}
.list button { 
    width: auto;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: rgb(227, 227, 227);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 10px;
    color: black;
    font-family: monospace;
}
.list button:hover { 
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}